<a href="https://colab.research.google.com/github/SetthaphongSuphaphom/DemoLab/blob/master/Copy_of_Chapter01_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

ดร.ไพรสันต์  ผดุงเวียง <br>
Dr.Praisan Padungweang

2022

# Outline
* ภาษา Python เบื้องต้น
* การเขียนโปรแกรมด้วยภาษา Python

# ภาษา Python เบื้องต้น

---

เนื่องจากคอมพิวเตอร์ทั้งเก็บข้อมูลและโปรแกรมเป็นเลขฐาน 2 และการทำงานของคอมพิวเตอร์ต้องบอกลำดับการทำงานที่ชัดเจน ดังนั้นการสั่งให้คอมพิวเตอร์ทำงานสักอย่างหนึ่งจึงเป็นเรื่องที่ค่อนข้างซับซ้อนการการให้คอมพิวเตอร์ทำงานสักหนึ่งคำสั่งนั้นต้องเข้าใจการลำดับเลขฐานสองตามรูปแบบที่ทำให้วงจรที่สร้างไว้ทำงานได้อย่างที่ต้องการ ดังนั้นจึงมีการพัฒนาโปรแกรมเพื่อแปลคำสั่งที่เข้าใจง่ายขึ้นโดยมนุษย์ไปเป็นคำสั่งที่เข้าใจและทำงานได้อย่างถูกต้องโดยคอมพิวเตอร์ โปรแกรมเหล่านี้เรียกว่าตัวแปลภาษาซึ่งจะแปลได้เฉพาะภาษาที่กำหนดโครงสร้างอย่างเฉพาะเจาะจงไว้เท่านั้น

การเขียนโปรแกรมภาษาไพธอน จะเป็นการเขียนด้วยภาษาที่เข้าใจง่าย โปรแกรมแปลภาษาจะนำไปแปลให้เป็นคำสั่งให้คอมพิวเตอร์่ทำงานได้ตามลำดับจากบนลงล่าง

In [ ]:
print('Hello world')

Hello world

In [ ]:
print(10+2*5+20)

40

In [ ]:
print('Hello world')
print(10+2*5+20)
print('Hello world')
print('Hello world 2+3 =',2+3)
print('Hello world 12 * 20 =', 12 * 20)
print('Hello world 12 ยกกำลัง 4 = ', 12**4)

Hello world
40
Hello world
Hello world 2+3 = 5
Hello world 12 * 20 = 240
Hello world 12 ยกกำลัง 4 =  20736

การเยื้องปกติใช้การเว้นวรรค 2 หรือ 4 วรรค
```python
for i in range(5):
    print(i)

def my_function():
    print(‘hello world’)
```

ความคิดเห็น (Comments) หรือคำอธิบาย
```python
# hash character for single line comment
'''Triple quote for
multiple lines comment'''
```

### การตั้งชื่อข้อมูล (ตัวแปร: variable)

เราสามารถตั้งชื่อให้ตัวเลขหรือข้อมูลต่าง ๆ เพื่อให้ง่ายต่อการเรียกใช้ในภายหลังได้โดยใช้เครื่องหมายเท่ากับ ชื่อเหล่านี้เรียกว่าตัวแปร (variable)

การตั้งชื่อตัวแปรจึงนิยมตั้งชื่อให้สื่อความหมายกับค่าที่ต้องการเก็บขณะโปรแกรมทำงาน เช่น age อาไว้เก็บอายุ salary เก็บเงินเดือนเป็นต้น

In [ ]:
age = 35
salary = 35000
print(age)

35

In [ ]:
age = age + 1
print(age)

36

## การให้โปรแกรมเลือกทำ

เราสามารถเปลี่ยนลำดับการทำงานเพื่อให้เลือกทำบางคำสั่งได้โดยใช้คำสั่งพิเศษที่แต่ละภาษาโปรแกรมเตรียมไว้ให้

### if Statement

```python
if condition:
    if-block
```

In [ ]:
if 12>5 or 1>5:
    print("Hello world")
    print("Hello world")
    print("Hello world")

Hello world
Hello world
Hello world

In [ ]:
12>5 and 1>5

False

### if…else statement

```python
if condition:
    if-block
else:
    else-block
```

In [ ]:
if 12<5:
  print("Hello world")
  print("Hello world")
  print("Hello world")
else:
  print("Hello world")

Hello world

In [ ]:
if True:
  print("Hello world")
  print("Hello world")
  print("Hello world")
else:
  print("Hello world")

Hello world
Hello world
Hello world

In [ ]:
# Ternary Operator
x = 'aaaa' if 12>5 else 'bbbb'

print(x)

aaaa

In [ ]:
if 12>5:
  x = 20
else:
  x = 5

print(x)

20

### if…elif…else statement

```python
if if-condition:
    if-block
elif elseif-condition1:
    elif-block1
elif elseif-condition2:
    elif-block2
...
else:
    else-block
```

In [ ]:
if 2 > 5:
    print('เดินตรงไป')
elif 2 > 3:
    print('เลี้ยวซ้าย')
elif 2 < 1:
    print('เลี้ยวขวา')
else:
    print('หยุด')

หยุด

In [ ]:
if 2 > 5 and 3 > 5 or 15>4:
   print('เดินตรงไป')
   print('เดินตรงไป')
   print('เดินตรงไป')
   print('เดินตรงไป')
elif 2 < 3:
   print('เลี้ยวซ้าย')
elif 2 < 1:
   print('เลี้ยวขวา')
else:
   print('หยุด')

เดินตรงไป
เดินตรงไป
เดินตรงไป
เดินตรงไป

### 💡 Hands on
* เขียนฟังก์ชันเพื่อคืนค่าตัวเลขที่มีค่าน้อยที่สุดจากตัวเลขที่รับเข้าไป 3 ตัวเลข
* เขียนโปรแกรมเพื่อคำนวณภาษี โดยคำนวณรายรับประจำปี (income) จากเงินเดือน (salary) แล้วนำมาลบกับรายจ่ายลดหย่อนภาษี (deduction)  แล้วคำนวณภาษีดังตาราง

| เงินได้สุทธิ | อัตราภาษี |
| ----------- | -----------: |
| น้อยกว่าหรือเท่ากับ 150,000 | ยกเว้น |
|มากกว่า 150,000 ถึง 300,000|5%|
|มากกว่า 300,000 ถึง 500,000|10%|
|มากกว่า 500,000 ถึง 750,000|15%|
|มากกว่า 750,000 ถึง 1,000,000|20%|
|มากกว่า 1,000,000 ถึง 2,000,000|25%|
|มากกว่า 2,000,000 ถึง 5,000,000|30%|
|มากกว่า 5,000,000|35%|

In [ ]:
a = int(input("กรอค่า salary : "))
def minFrmThree(a):

กรอค่า salary : 150

## การให้โปรแกรมทำซ้ำ

ในบางครั้งประวัติต้องการให้โปรแกรมทำงานบางคำสั่งซ้ำกันตามจำนวนที่กำหนดหรืออาจจะซ้ำกันจนถึงเงื่อนไขที่เราต้องการแล้วค่อยหยุดทำ ในกรณีแบบนี้ภาษาโปรแกรมทุกภาษาจะเตรียมคำสั่งพิเศษไว้ให้ใช้งาน

### for Loop with Range

เราใช้ for Loop ในกรณีที่เรารู้จำนวนรอบที่ต้องการให้ทำงานซ้ำที่แน่นอน

```python
for index in range(n):
    statement
```

```python
range(start, stop, step)
```

In [ ]:
for i in range(5):
    print('Hello world ', i)

Hello world  0
Hello world  1
Hello world  2
Hello world  3
Hello world  4

### while

ในบางกรณีเราไม่ทราบจำนวนรอบที่แน่นอนในการทำซ้ำแต่ต้องการให้ทำงานไปจนถึงค่าที่กำหนด เราสามารถใช้ค่าที่กำหนดนั้นมาเพื่อเป็นเงื่อนไขในการหยุดทำงานได้

```python
while condition:  
   body
```

In [ ]:
sum = 0
while sum <1000:
  sum = sum +3
  print(sum)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399
402
405
408
411
414
417
420
423
426
429
432
435
438
441
444
447
450
453
456
459
462
465
468
471
474
477
480
483
486
489
492
495
498
501
504
507
510
513
516
519
522
525
528
531
534
537
540
543
546
549
552
555
558
561
564
567
570
573
576
579
582
585
588
591
594
597
600
603
606
609
612
615
618
621
624
627
630
633
636
639
642
645
648
651
654
657
660
663
666
669
672
675
678
681
684
687
690
693
696
699
702
705
708
711
714
717
720
723
726
729
732
735
738
741
744
747
750
753
756
759
762
765
768
771
774
777
780
783
786
789
792
795
798
801
804
807
810
813
816
819
822
825
828
831
834
837
840
843
846
849
852
855
858
861
864
867
870
873
876
879
882
885
888
891
894
897
900
903
906
909
912
915
918
921
924
927
930
933
936
939
942
945
948
951
954
957
960
963
966
969
972
975
978
981
984
987
990
993
996
999
1002

### 💡 Hands on
* เขียนโปรแกรมเพื่อคำนวณค่าแฟกทอเรียลของตัวเลข
* เขียนโปรแกรมเพื่อคำนวณดอกเบี้ย (interest) และยอดเงินคงเหลือ (balance) ในบัญชีของของบัญชีฝากประจำที่ฝากเงิน (deposit) จำนวนคงที่ทุกเดือน โดยคำนวณดอกเบี้ยให้ทุกเดือน กำหนดให้ดอกเบี้ยเงินฝากเป็น 1.5 เปอร์เซ็นต์ต่อปี

In [ ]:
n=5
fac=1
for i in  range(2,n+1):
  fac = fac * i

print(fac)

120

In [ ]:
#เขียนโปรแกรมเพื่อคำนวณค่าแฟกทอเรียลของตัวเลข
n=0
if n>0:
  fac=1
  for i in  range(2,n+1):
    fac = fac * i
elif n==0:
  fac=1
else:
  fac=None

print(fac)

1

## การรวมกันทำงานหลาย ๆ คำสั่งให้เป็นคำสั่งเดียว
การรวมหลายคำสั่งที่เกี่ยวข้องกันไว้ด้วยกันเพื่อให้สามารถเรียกใช้งานได้ง่าย

การรวมคำสั่งหลายๆคำสั่งไว้ด้วยกันทำได้โดยการสร้าง**ฟังก์ชัน**แล้วเรียกใช้ผ่านชื่อฟังก์ชัน ฟังก์ชันนี้จะถูกแปลเป็นภาษาคอมพิวเตอร์ไว้ก่อนใช้และจะเก็บไว้ในหน่วยความจำขณะโปรแกรมทำงาน หากต้องการเรียกใช้ก็สามารถเรียกใช้ได้หลายครั้งโดยไม่ต้องแปลฟังก์ชันนั้นใหม่

In [ ]:
# รวมคำส่งไว้ในชื่อ many_thing
def many_thing():
  print('Hello world')
  print(10+2*5+20)
  print('Hello world')
  print('Hello world 2+3 =',2+3)
  print('Hello world 12 * 20 =', 12 * 20)
  print('Hello world 12 ยกกำลัง 4 = ', 12**4)

In [ ]:
# เรียกให้ทำงาน (เรียกใช้กี่ครั้งก็ได้)
many_thing()
many_thing()

Hello world
40
Hello world
Hello world 2+3 = 5
Hello world 12 * 20 = 240
Hello world 12 ยกกำลัง 4 =  20736
Hello world
40
Hello world
Hello world 2+3 = 5
Hello world 12 * 20 = 240
Hello world 12 ยกกำลัง 4 =  20736

In [ ]:
def print10times(message='Hello'):
  for i in range(10):
    print(i,message)

In [ ]:
print10times('Aha')

0 Aha
1 Aha
2 Aha
3 Aha
4 Aha
5 Aha
6 Aha
7 Aha
8 Aha
9 Aha

In [ ]:
def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b

In [ ]:
def fib2(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        temp = a
        a = b
        b = temp+b
        # a, b = b, a+b

In [ ]:
fib2(5)

0 1 1 2 3

In [ ]:
# ฟังก์ชันที่มีการประมวลผลและส่งค่าผลลัพธ์ที่ประมูลได้กลับไปให้ผู้เรียกใช้
def sum(a,b):
  return a+b

def cumulative_sum(x):
  sum=0
  for i in range(1,x+1):
    sum = sum + i
  return sum

In [ ]:
sum_ = sum(5,12)

In [ ]:
total=cumulative_sum(3)
total

6

# การเขียนโปรแกรมด้วยภาษา Python

---

## ตัวแปร (Variables)

ตัวแปรมีหน้าที่เอาไว้ให้สามารถเข้าถึงค่าที่เก็บไว้ในขณะที่โปรแกรมทำงานได้สะดวกกับผู้เขียนโปรแกรมมากขึ้น

การระบุตัวแปรให้เข้าถึงข้อมูลใดนิยมเรียกว่าการกำหนดค่าซึ่งสามารถทำได้โดยใช้เครื่องหมาย = ซึ่งจะประมวลผลสิ่งที่อยู่ด้านขวามือของเครื่องหมาย = ก่อนเสมอ เช่น

```python
message = 'Hello'
message = 820
```

บรรทัดแรก Python จะสร้าง object เพื่อเก็บคำว่า Hello แล้วสร้างตัวแปร message เพื่อชี้ไปยังตำแหน่งที่เก็บ object นี้ บรรทัดที่ 2 python จะสร้าง object เพื่อเก็บตัวเลข 820 จากนั้นจะเปลี่ยนตัวแปร message ให้ชี้ไปยังตำแหน่ง object ใหม่นี้ ดังแสดงในรูป

In [ ]:
#@title
%%html
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720 500" width="400" height="200">

  <defs>
        <marker id="pointer" markerWidth="10" markerHeight="8"
	refX="5.5" refY="4.1" orient="auto" >
        <polyline points="1 1, 8 4, 1 7" />
    </marker>
  </defs>

  <text  font-size="40" stroke-width="0"  y="30" x="0" stroke="#000" fill="#330000">1. message = 'Hello'</text>

  <rect x="20" y="50" width="250" height="80" rx="10" style="fill:red; stroke:black; fill-opacity:0.7" />
  <text  font-size="40" stroke-width="0"  y="100" x="65" stroke="#000" fill="#330000">message</text>

  <rect x="400" y="50" width="250" height="100" rx="10" style="fill:blue; stroke:black; fill-opacity:0.5;" />
  <text  font-size="40" stroke-width="0"  y="100" x="465" stroke="#000" fill="#000033">'Hello'</text>

  <line stroke="#000"  stroke-width="3" y1="90" x1="270" y2="100" x2="395" marker-end="url(#pointer)"/>


  <text  font-size="40" stroke-width="0"  y="220" x="0" stroke="#000" fill="#330000">2. message = 820</text>

  <rect x="20" y="240" width="250" height="80" rx="10" style="fill:red; stroke:black; fill-opacity:0.7" />
  <text  font-size="40" stroke-width="0"  y="290" x="65" stroke="#000" fill="#330000">message</text>

  <rect x="400" y="240" width="250" height="100" rx="10" style="fill:blue; stroke:black; fill-opacity:0.2;" />
  <text  font-size="40" stroke-width="0"  y="290" x="465" stroke="#000" fill="#000033">'Hello'</text>

  <rect x="400" y="380" width="250" height="100" rx="10" style="fill:blue; stroke:black; fill-opacity:0.5;" />
  <text  font-size="40" stroke-width="0"  y="440" x="480" stroke="#000" fill="#000033">820</text>

  <line stroke="#000" stroke-width="3" y1="280" x1="270" y2="430" x2="395" marker-end="url(#pointer)" />

</svg>

เนื่องจากคอมพิวเตอร์เก็บได้แต่เลขฐานสองเท่านั้นการเก็บค่าหรือข้อมูลต่างๆ จึงจำเป็นต้องแปลงให้อยู่ในรูปของเลขฐานสอง ซึ่งการแปลงข้อมูลแต่ละชนิดก็ใช้วิธีการแปลงแตกต่างกัน ดังต่อไปนี้

### เลขจำนวนเต็ม (integer)

เลขจำนวนเต็มสามารถแปลงเป็นเลขฐานสองได้โดยตรงและเก็บเป็นชนิดข้อมูลจำนวนเต็ม เช่น ชนิดข้อมูลจำนวนเต็มขนาด 16 บิตของคอมพิวเตอร์ จะเก็บตัวเลขจำนวนเต็มบวกและจำนวนเต็มลบที่แปลงเป็นเลขฐาน 2 จำนวน 16 บิต เช่น เลข 10 สามารถแปลงเป็นเลขฐาน 2 ได้ `0000 0000 0000 1010`

ปกติจะเก็บเลขจำนวนเต็มขนาด 32 บิต ซึ่งสามารถเก็บตัวเลขจำนวนเต็มที่มีค่าอยู่ในช่วง -2,147,483,648 ถึง 2,147,483,647 หากมีค่าเกินช่วงนี้จะไม่สามารถเก็บได้เรียกว่าล้น (overflow) จะทำให้ค่าที่เก็บในคอมพิวเตอร์ไม่ตรงกับค่าที่ต้องการเก็บจริง ๆ ภาษาคอมพิวเตอร์ส่วนมากจะมีวิธีการป้องกันความผิดพลาดเหล่านี้

ในภาษา python จะใช้จำนวนบิตใขึ้นอยู่กับค่าของจำนวนเต็มที่ต้องการเก็บเช่น 8  16  32  64 เป็นต้น  


```python
# ตัวอย่างของการเขียนใน Python

x = 20       
# 1. สร้าง Object ชนิด int ที่เก็บเลข 20
# 2. ให้ x ชี้มาที่ตำแหน่งที่เก็บนี้

y = x * 2    
# 1. เอาค่าที่ x ชี้อยู่มาบวกกับเลข 2 แล้วคืนค่าเป็น Object ชนิด int ที่เก็บผลลัพธ์
# 2. ให้ y ชี้มาที่ตำแหน่ง Object ที่เก็บผลลัพธ์นี้

```


### จำนวนจริง (real number)

จำนวนจริงไม่ว่าจะเป็นเลขจำนวนเต็มและเลขทศนิยมจะแปลงตามรูปแบบจำนวนจุดลอยตัว (floating-point) Python ใช้ 8 ไบต์ หรือ 64 บิต เพื่อแทนจำนวนจริงและจะใช้ขนาดคงที่ไม่เปลี่ยนแปลง ตามรูปแบบของจุดลอยตัวที่มีความแม่นยำสองเท่าแบบ IEEE 754 double-precision สามารถเก็บค่าอยู่ในช่วงประมาณ $\pm 10 ^{- 323.3}$ ถึง  $\pm 10 ^ {308.3}$

เลขทศนิยมฐาน 2 มีการแทนคล้ายคลึงกับการแทนในเลขฐานสิบเช่น $0.1001_2 = 1\times2^{-1} + 0\times2^{-2} + 0\times2^{-3} + 1\times2^{-4} = 1/2 + 0 + 0 + 1/16 = 0.5625_{10} $

เลขฐาน 10 บางตัวอาจจะไม่สามารถแทนด้วยตัวเลขฐานสองได้ลงตัว ซึ่งก็จะใช้ค่าที่ใกล้เคียงที่สุดแทน เช่นเลข 0.1  เมื่อแปลงเป็นเลขฐานสองตาม IEEE 754 double-precision แล้วจะได้ `00111111 10111001 10011001 10011001 10011001 10011001 10011001 10011010` แล้วการแปลงกลับจะมีค่าประมาณ  `0.100000000000000005551115123126`
ในขณะที่เลข 0.3 เมื่อแปลงเป็นเลขฐานสองแล้วการแปลงกลับจะมีค่าประมาณ `0.299999999999999988897769753748` เป็นต้น

In [ ]:
x = 0.1 + 0.1 + 0.1
y = 0.3
print(x,y)

print(x == y)

0.30000000000000004 0.3
False

In [ ]:
print(format(x, '.20f'))
print(format(y, '.20f'))

0.30000000000000004441
0.29999999999999998890

In [ ]:
print(round(x, 3) == round(y, 3))

True

In [ ]:
x= 1/10
y= 0.1

if x ==y :
  print("Equal")
else:
  print('Not equal')

Equal

In [ ]:
x= 1/10
y= 0.9/9*0.1*10
if x == y :
  print("Equal")
else:
  print('Not equal')

Not equal

In [ ]:
x= 1/10
y= 0.9/9*0.1*10
if round(x, 3) == round(y, 3) :
  print("Equal")
else:
  print('Not equal')

Equal

In [ ]:
from math import isclose

x= 1/10
y= 0.9/9*0.1*10
if isclose(x,y):
  print("Equal")
else:
  print('Not equal')

Equal

### ข้อความหรือสายอักขระ (String)
ข้อความหรือสายอักขระ (string) จะแปลงแต่ละอักขระ (character) เป็นเลขฐานสองตามรูปแบบการเข้ารหัสข้อความเช่น Unicode หรือ ASCII ดังตัวอย่าง [Unicode](https://jrgraphix.net/r/Unicode/0E00-0E7F)

การระบุข้อความสามารถระบุได้ 3 แบบดังนี้
```python
'Single quote'
"Double quotes"
'''Triple quote for
 multiple lines text'''
```

In [ ]:
message1 = 'Single quote'
message2 = "Double quotes"
message3 = '''Triple quote for
multiple lines text'''

print(message1)
print(message2)
print(message3)

Single quote
Double quotes
Triple quote for
multiple lines text

### 💡 Hands on

* เขียนโปรแกรมเพื่อแปลงองศาเซลเซียสเป็นฟาเรนไฮ $F=C\times9/5+32$ แล้วแสดงผลการแปลงเป็นทศนิยม 2 หลัก

* บริษัทส่งของใช้ข้อมูลดังในตารางด้านล่างเพื่อคำนวณค่าขนส่งที่มีค่าขึ้นอยู่กับน้ำหนักของสิ่งของ นอกจากนี้ยังมีค่าธรรมเนียมการส่งอีก 10 บาท ให้เขียน function เพื่อรับน้ำหนักของสิ่งของแล้วคิดค่าขนส่งรวมส่งคืนกลับมา


|Weight  (Kilograms)|Shipping rates (Baht)|
| :--------: | :-------: |
|0 - 0.2|30|
|0.2 - 0.5|45|
|0.5 - 1|60|
|1 - 2|75|


* สมมติให้เขียนโปรแกรมบนอุปกรณ์พกพาเพื่อใช้ในการแจ้งเตือน โดยวัดระยะห่างระหว่างอุปกรณ์พกพา 2 อุปกรณ์
โดยเขียนเป็นฟังก์ชันที่รับค่าตำแหน่งของ 2 อุปกรณ์เข้าไปเพื่อคำนวณระยะห่างตามสมการ $distance=(x_2-x_1)^2+(y_2-y_1)^2$
 ซึ่งมีอุปกรณ์ที่ต้องการแจ้งเตือนมี 2 แบบ คือแบบที่ต้องใช้ใกล้ตัว (type A) และแบบที่สามารถอยู่ไกลตัวผู้ใช้ได้มากกว่า (type B) โดยมีเงื่อนไขของระยะห่างดังนี้

|แบบใกล้ตัว (type A)|แบบไกลตัว (type B)|ระดับของการแจ้งเตือน (level)|
| --- | --- | :---: |
|< 10|< 50|0|
|10-15 <br> (รวม 10 ด้วยแต่ไม่รวม 15)|50-100<br>(รวม 50 ด้วยแต่ไม่รวม 100)|1|
|15-20<br>(รวม 15 ด้วยแต่ไม่รวม 20)|100-150 <br>(รวม 100 ด้วยแต่ไม่รวม 150)|2|
|>= 20|>=150|3|

|ระดับของการแจ้งเตือน (level)| ความหมาย |
| --- | --- |
|0|Safe zone|
|1|Warning! Yellow zone|
|2|Warning! Red zone|
|3|Out of the safe zone!|

## การเก็บหลายค่าในตัวแปรเดียว (collection)

มีหลายกรณีในขณะที่เราเขียนโปรแกรมเราจะต้องการเก็บค่าหรือข้อมูลไว้ในตัวแปรเดียวเพื่อความสะดวกในการเขียนโปรแกรมและการจัดการซึ่งทุกภาษาโปรแกรมก็เตรียมความสามารถเหล่านี้ไว้ให้

### Tuple: เก็บหลายค่าแบบเปลี่ยนค่าไม่ได้ในขณะทำงาน

การเก็บ
```python
days_en = ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')  
rgb = ('Red', 'Green', 'Blue')
```
การเข้าถึงเพื่อเอาไปใช้สามารถระบุโดยใช้ดัชนีเพื่อระบุตำแหน่งซึ่งจะเริ่มต้นตั้งแต่ 0 เช่น
```days_en[0] ```
จะหมายถึงค่า ณ ตำแหน่งแรกซึ่งในที่นี้มีค่าเป็น ```Sunday ```

In [ ]:
days_en = ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
days_th= ('อาทิตย์','จันทร์','อังคาร','พุธ','พฤหัส','ศุกร์','เสาร์')

print(days_en[0])
print(days_th[0])

rgb = ('Red', 'Green', 'Blue')
print(rgb[0])
print(rgb[1])
print(rgb[2])

Sunday
อาทิตย์
Red
Green
Blue

In [ ]:
n=len(days_en)
for i in range(n):
  print(days_en[i])

print('------------')

for day in days_en:
  print(day)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
------------
Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

### List: เก็บหลายค่าแบบเปลี่ยนค่าได้ในขณะทำงาน

List สามารถใช้เก็บข้อมูลย้ายข้อมูลไว้ในตัวแปรเดียวเช่นเดียวกับ tuple แต่มีความสามารถมากกว่าโดยเฉพาะสามารถแก้ไขได้ ซึ่งก็ทำให้ต้องการใช้พื้นที่และการประเมินผลมากกว่า tuple เล็กน้อย

In [ ]:
a=[1,2,3] # list

In [ ]:
# list
a=[1,2,3] # list
print(a[0])
print(a[-1])
print(a)

a[2]=500
print(a)
print(len(a))

a=a+[6]
a=a+[6,7]
a=a+[[15,6]]
a=a+[(15,6)]
a.append([7])
a.append(8)
a.append("aaa")
a=a+["bbb"]

a[6][1]=100
print(a)
for i in a:
  print(i)

for i in range(len(a)):
  print(a[i])

1
3
[1, 2, 3]
[1, 2, 500]
3
[1, 2, 500, 6, 6, 7, [15, 100], (15, 6), [7], 8, 'aaa', 'bbb']
1
2
500
6
6
7
[15, 100]
(15, 6)
[7]
8
aaa
bbb
1
2
500
6
6
7
[15, 100]
(15, 6)
[7]
8
aaa
bbb

In [ ]:
print(a)
print(a[-3])

[1, 2, 500, 6, 6, 7, [15, 100], (15, 6), [7], 8, 'aaa', 'bbb']
8

#### Access list

In [ ]:
# index
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]
print(house[0])
print(house[0][1])

# List slicing
print(house[0:2]) # 0,1

print(house[:2]) # 0,1
print(house[2:]) # 2,3,4

['hallway', 11.25]
11.25
[['hallway', 11.25], ['kitchen', 18.0]]
[['hallway', 11.25], ['kitchen', 18.0]]
[['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

#### list operation

In [ ]:
# list
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

In [ ]:
new=[]
for i in range(len(height)):
  new.append(height[i]+weight[i])
new

[83.52000000000001, 99.39, 97.07, 94.89, 88.08000000000001, 90.3]

In [ ]:
new=height+weight
new

[1.87, 1.87, 1.82, 1.91, 1.9, 1.85, 81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

In [ ]:
# ex
def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [ ]:
the_fib=fib2(10)
the_fib

[0, 1, 1, 2, 3, 5, 8]

#### Loop Lists

In [ ]:
# for loop
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
# foreach
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
# While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

#### List Comprehension

In [ ]:
# List Comprehension
# newlist = [expression for item in iterable if condition == True]

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
# List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
# List Comprehension

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### Dictionary

Dictionary เป็นการเก็บหลายค่าในตัวแปรเดียวที่มีความสามารถมากขึ้น

Dictionary จะเก็บ key-value คู่กันและไม่มีการเก็บซ้ำ

In [ ]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)

del tel['sape']
tel['irv'] = 4127
print(tel)
print(list(tel))
print(sorted(tel))
print('guido' in tel)
print('jack' not in tel)

for k, v in tel.items():
  print(k, v)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
{'jack': 4098, 'guido': 4127, 'irv': 4127}
['jack', 'guido', 'irv']
['guido', 'irv', 'jack']
True
False
jack 4098
guido 4127
irv 4127

In [ ]:
# การสร้าง Dictionary จาก List
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [ ]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

In [ ]:
print(person['first_name'])
print(person['last_name'])
# print(person['ssn']) #KeyError: 'ssn'
print(person.get('first_name'))
ssn = person.get('ssn', '000-00-0000')
print(ssn)

John
Doe
John
000-00-0000

In [ ]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

In [ ]:
new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [ ]:
new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

### Set

**Set** เก็บข้อมูลที่ไม่ซ้ำกันและเปลี่ยนแปลงค่าไม่ได้ สามารถใช้เก็บตัว ตัวเลขลิงเพชรบูรณ์ได้แต่ไม่สามารถใช้เก็บ List และ Dictionary ได้ ใช้สัญลักษณ์ `{}` ในการกำหนดค่า

In [ ]:
skills = {'Python programming','Databases', 'Software design'}

In [ ]:
skills.add('Python programming')
skills.add('Problem solving')
print(skills)

{'Software design', 'Python programming', 'Databases', 'Problem solving'}

In [ ]:
skills.remove('Software design')
print(skills)

{'Python programming', 'Databases', 'Problem solving'}

### 💡 Hands on

* โปรแกรมหาค่าเฉลี่ย
* โปรแกรมหาค่าสูงสุดและต่ำสุด
* โปรแกรมหาค่าแรกที่ซ้ำกัน 3 ครั้งติดกัน

# **Frequently used syntax**

Indentation
2 or 4 whitespaces indentation (normally)
```python
for i in range(5):
    print(i)

def my_function():
    print(‘hello world’)

```

String
```python
'Single quote'
"Double quotes"
'''Triple quote for
 multiple lines text'''
```

Comments
```python
# hash character for single line comment
'''Triple quote for
multiple lines comment'''
```



(Parentheses), {Curly Braces}, [Square Brackets]

(Parentheses)

* Expression grouping:   		```x = ((1 + 2) *( 3 + 4) )/( 5 + 6)```
* Function call:    		```print('foo', 'bar', 'baz')```
* Method call:				```'abc'.center(9, '-')```
* Tuple definition: 			```t = ('a', "b", '''c''', 'd')```

{Curly Braces}
* Dictionary definition: 		```d = {'a': 1, 'b': 2}```
* Set definition:			```x1 = {'foo', 'bar', 'baz'}```

[Square Brackets]
* List definition:			```a = ['a', 'b', 'c', 'd']```
* Indexing: 				```a[0]```
* Slicing: 					```a[1:3]```
* Dictionary key reference:	```d['b']```